<!doctype html>
<html lang="en">
  <head>
    <title>Admin</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/4.1.0/superagent.min.js" integrity="sha512-LJaxxgpiq7SihGQ21nejROsll6FRrgbs0Wxtgqb5x+Q0CJICA3vt8hlBxSD8NLsO+Yabgg3B7ARexiijKiojGg==" crossorigin="anonymous"></script>
    <nav class="navbar navbar-custom navbar-expand-sm navbar-dark ">
        <a class="navbar-brand" href="/">Confession</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Đăng tải confession</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/status">Trạng thái trờ duyệt</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/reply">Confession Reply</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin">Trang quản trị</a>
                </li>
            </ul>
        </div>
    </nav>
    <br><br>
    <div class="container">
        <!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#general">Thông tin chung</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#duyetconfess">Duyệt Confess</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#static">Số liệu và thống kê</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#advance">Nâng cao</a>
      </li>
  </ul>
  <br>
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane container active" id="general">
        <div class="card text-left">
          <div class="card-body">
            <h4 class="card-title">Đang hong biết làm gì</h4>
            <p class="card-text">Thật...</p>
          </div>
        </div>
    </div>
    <div class="tab-pane container fade" id="duyetconfess">
        <table class="table">
            <thead class="thead-dark" >s
                <tr>
                    <th style="width: 10%">ID</th>
                    <th style="width: 55%">Nội dung</th>
                    <th style="width: 15%">Tag</th>
                    <th style="width: 20%">Hành động</th>
                </tr>
            </thead>
            <tbody>
              <% confess.forEach(element => { %>
                <tr id="td-id-<%= element.confessID%>">
                  <td scope="row"><%= element.confessID%></td>
                  <td><%= element.content%></td>
                  <td><ul>
                    <% element.tag.forEach(eachTag => { %>
                      <li><%= eachTag %></li>
                     <% }) %>
                  </ul></td>
                  <td><a name="" id="" class="btn btn-success" href="#" role="button" onclick="confessAction('<%= element.confessID %>','Accepted')">Chấp Nhận</a> 
                    <a name="" id="" class="btn btn-danger" href="#" role="button" onclick="confessAction('<%= element.confessID %>','Declined')">Từ chối</a></td>
              </tr>
              <% }) %>
            </tbody>
        </table>
    </div>
    <div class="tab-pane container fade" id="static">...</div>
    <div class="tab-pane container fade" id="advance">
        <div class="alert alert-danger">
            <strong>Cảnh báo !</strong> Chỉ nên đụng vào khi bạn biết đây là gì
          </div>
    </div>
  </div>
    </div>
  </body>
  <style>
    .navbar-custom {
    background-color: #95b8d1;
}
  </style>
  <script>
    function confessAction(id,value) {
      document.getElementById("td-id-"+id).innerHTML=""
      superagent.post('/api/confessStatusUpdate').send({id,status:value}).then(res => {
        let data = JSON.parse(res.text)
        
      })
      
    }
  </script>
</html>